<div id="codepost-<%= codepost.id %>" class="feed_post">
  <%= link_to gravatar_for(codepost.user, size: 50), codepost.user %>
  <h3><%= codepost.title %> <span class="codepost_by">by <%= codepost.user.name %></span></h3>
  <%= #simple_format(codepost.html, style: 'background-color: red;')
        text = codepost.html
        text.html_safe
  %><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(codepost.created_at) %> ago.
  </span>
  <%= link_to 'Show details', codepost %>
  <% if current_user != nil &&
        current_user.id == codepost.user.id %>
      <%= link_to "Delete", codepost, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</div>