<%= form_for(codepost) do |f| %>
  <% if codepost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(codepost.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% codepost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div id="html_field" class="field">
    <%= f.label :html %>
    <%= f.text_area :html %>
  </div>

  <div class="field">
    <%= f.label :css %>
    <%= f.text_area :css %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
