<% provide(:title, @user.name) %>
<div class="bigPanel">
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
  <%= @user.email %>
  <%= @user.id %>
  <%= @count %>
</h1>
<% if logged_in? %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>