<% provide(:title, @user.name) %>
<div class="bigPanel">
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %><br>
  <%= @user.email %>
</h1>
<% if logged_in? && current_user.id == @user.id %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>

<% if @user.codeposts.any? %>
<div class="feed">
  <h3>Your Feedback (<%= @user.codeposts.count %>)</h3>

  <tbody>
  <% @codeposts.each do |post| %>
      <%= render post %>
  <% end %>
  </tbody>

</div>
<% end %>